Repository chsdwn/react-native-responsive-scalability: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:fix, npm run lint:fix, npm run test

.lintstagedrc.json:

{
  "*.{json,js,ts,jsx,tsx,html,md}": ["npm run prettier:fix"],
  "*.{js,jsx,ts,tsx}": ["npm run lint:fix"],
  "src/**": ["npm run test"]
}

types(IResponsiveScalabilityContext): require breakpoints
  .lintstagedrc.json
  src/core/ResponsiveScalabilityContext.ts
  src/core/ResponsiveScalabilityProvider.tsx
  src/hooks/useScale.ts
  src/types/IResponsiveScalabilityContext.ts
Due: npm run prettier:fix, npm run lint:fix, npm run test

test(useResponsiveScalability): add dimensions change detection tests
  src/hooks/__tests__/useResponsiveScalability.test.ts
  src/hooks/__tests__/useResponsiveScalability.test.tsx
Due: npm run prettier:fix, npm run lint:fix, npm run test

ci: configure commitlint
  .husky/commit-msg
  .lintstagedrc.json
  commitlint.config.js
  package.json
Due: npm run prettier:fix, npm run lint:fix

fix(useStyle): fix styleCb return type
  src/hooks/useStyle.ts
Due: npm run prettier:fix, npm run lint:fix, npm run test

test(useStyle): add test
  src/hooks/__tests__/useResponsiveScalability.test.tsx
  src/hooks/__tests__/useStyle.test.ts
Due: npm run prettier:fix, npm run lint:fix, npm run test

build: add safe area context as peer dependency
  package.json
  yarn.lock
Due: npm run prettier:fix

docs: edit package description
  README.md
  package.json
Due: npm run prettier:fix

fix(useScale): fix window width and scale hooks replace useWindowDimensions with useSafeAreaFrame
  src/hooks/useScale.ts
Due: npm run prettier:fix, npm run lint:fix, npm run test

fix(config): change base dimensions to iPhone 14 Pro Max dimensions
  src/config/index.ts
Due: npm run prettier:fix, npm run lint:fix, npm run test

build: upgrade react native
  package.json
  yarn.lock
Due: npm run prettier:fix

build(example): upgrade react native add screen rotation and safe area context packages
  example/app.json
  example/package.json
  example/yarn.lock
Due: npm run prettier:fix

fix(example/App): wrap inside SafeAreaProvider
  example/src/App.tsx
Due: npm run prettier:fix, npm run lint:fix

fix(config): add default sm and md breakpoint values
  src/config/index.ts
  src/core/ResponsiveScalabilityProvider.tsx
  src/hooks/useScale.ts
  src/types/IResponsiveScalabilityContext.ts
Due: npm run prettier:fix, npm run lint:fix, npm run test

style(example/Home): add breakpoint and orientation change example
  example/src/App.tsx
  example/src/screens/Home.tsx
Due: npm run prettier:fix, npm run lint:fix

fix(ResponsiveScalabilityContext): add default sm and md breakpoint values
  src/core/ResponsiveScalabilityContext.ts
Due: npm run prettier:fix, npm run lint:fix, npm run test

fix(useScale): remove scale font size utility function
  src/hooks/useScale.ts
Due: npm run prettier:fix, npm run lint:fix, npm run test

fix(useScale): calculate window height by base orientation fix(types): add baseOrientation value type
  src/config/index.ts
  src/core/ResponsiveScalabilityContext.ts
  src/core/ResponsiveScalabilityProvider.tsx
  src/hooks/useScale.ts
  src/types/IResponsiveScalabilityContext.ts
Due: npm run prettier:fix, npm run lint:fix, npm run test

test(useResponsiveScalability): add orientation change detection test
  src/hooks/__tests__/useResponsiveScalability.test.tsx
Due: npm run prettier:fix, npm run lint:fix, npm run test

fix(example/Home): add orientation change example
  example/src/App.tsx
  example/src/screens/Home.tsx
Due: npm run prettier:fix, npm run lint:fix

test: add test utils
  src/test/test-utils.tsx
Due: npm run prettier:fix, npm run lint:fix, npm run test

test(useScale): add scalability tests
  src/hooks/__tests__/useResponsiveScalability.test.ts
  src/hooks/__tests__/useScale.test.ts
Due: npm run prettier:fix, npm run lint:fix, npm run test

docs: add api descriptions
  README.md
Due: npm run prettier:fix

docs: add safe area context expo installation step
  README.md
Due: npm run prettier:fix

docs: replace overview image
  README.md
  package.json
  screenshots/Android/Nexus 5 Landscape.png
  screenshots/Android/Nexus 5.png
  screenshots/Android/Pixel 2 Landscape.png
  screenshots/Android/Pixel 2.png
  screenshots/overview.jpg
Due: npm run prettier:fix

build: upgrade version
  package.json
Due: npm run prettier:fix

build(example): upgrade dev dependencies
  example/package.json
  example/yarn.lock
Due: npm run prettier:fix

fix(example): add more complex example
  example/src/App.tsx
  example/src/components/ArticleCard.tsx
  example/src/components/Description.tsx
  example/src/components/PlaceholderImage.tsx
  example/src/components/Title.tsx
  example/src/components/index.ts
  example/src/screens/Article.tsx
  example/src/screens/Articles.tsx
  example/src/screens/Home.tsx
  example/src/screens/index.ts
Due: npm run prettier:fix, npm run lint:fix

docs: add expo snack demo project build: upgrade version
  README.md
  package.json
Due: npm run prettier:fix

feat(hooks): add useOrientation and useSafeAreaWindow hooks
  src/hooks/index.ts
  src/hooks/useOrientation.ts
  src/hooks/useSafeAreaWindow.ts
Due: npm run prettier:fix, npm run lint:fix, npm run test

fix(useScale): use window dimensions to calculate window width
  src/hooks/useScale.ts
Due: npm run prettier:fix, npm run lint:fix, npm run test

feat(types): add orientation type
  src/types/IResponsiveScalabilityContext.ts
  src/types/index.ts
Due: npm run prettier:fix, npm run lint:fix, npm run test

test(useScale): update scaled values test(test-utils): add portrait and landscape insets configs
  src/hooks/__tests__/useScale.test.ts
  src/test/test-utils.tsx
Due: npm run prettier:fix, npm run lint:fix, npm run test

test(useOrientation): add orientation change tests
  src/hooks/__tests__/useOrientation.test.ts
Due: npm run prettier:fix, npm run lint:fix, npm run test

test(useSafaAreaWindow): add window dimensions tests
  src/hooks/__tests__/useSafeAreaWindow.test.ts
Due: npm run prettier:fix, npm run lint:fix, npm run test

build: upgrade version
  package.json
  src/index.ts
Due: npm run prettier:fix, npm run lint:fix, npm run test

chore: release 1.2.0
  package.json
Due: npm run prettier:fix
